.main-container {
  margin-left: 300px;
  margin-top: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  width: fit-content;
  font-size: 48px;
  margin-bottom: 0;
}

.add-task-form {
  width: 976px;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.seperator {
  height: 424px;
  width: 0.5px;
  background-color: #d1d1d1;
}

.add-task-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add-task-right {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

button {
  cursor: pointer;
}

.title-input,
.date-input {
  width: 416px;
  height: 24px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* Behebt das Kalendersymbol, um sicherzustellen, dass es korrekt positioniert bleibt */
input[type='date']::-webkit-calendar-picker-indicator {
  margin-left: 268px;
  cursor: pointer;
}

.title-input:focus,
.date-input:focus {
  border: 1px solid #29abe2;
  outline: 0;
}

.description-text {
  width: 416px;
  height: 96px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  font-family: Inter;
}

.description-text:focus {
  border: 1px solid #29abe2;
  outline: 0;
}

.assigned-to-div {
  width: 428px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 12px;
  z-index: 1;
}

.assigned-to-div:focus-within {
  border: 1px solid #29abe2;
  outline: 0;
}

.assigned-input {
  width: 380px;
  height: 32px;
  border: 0;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
}

.assigned-input::placeholder {
  color: black;
}

.assigned-input:focus {
  outline: 0;
}

.assigned-dropdown {
  width: 440px;
  min-height: 60px;
  max-height: 168px;
  background-color: white;
  position: absolute;
  top: 576px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 26px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 6;
  /* scrollbar-width: thin;
  scrollbar-color: #d6d6d6 #f4f4f4;  */
}

.assigned-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f4f4f4;
  height: 100px;
}

.assigned-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

.assigned-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-bottom-right-radius: 10px;
}

.assigned-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.assigned-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 16px;
}

.assigned-to-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 406px;
  padding: 2px 12px 2px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.contact-img-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

#assignedContacts {
  width: 440px;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.two-letters-img {
  height: 42px;
  width: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assigned-contacts-wrapper {
  position: relative;
  display: inline-block;
}

.assigned-contacts-img {
  height: 42px;
  width: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
  z-index: 5; /* Ensure this is higher than other elements */
}

.tooltip {
  visibility: hidden;
  width: auto;
  background-color: #2a3647;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  z-index: 10; /* Ensure the tooltip is above other elements */
}

.assigned-contacts-wrapper:hover .assigned-contacts-img {
  transform: scale(0.94);
  opacity: 0.7;
}

.assigned-contacts-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.marked {
  background-color: #2a3647;
  color: white;
}

.check-btn-img {
  margin-right: 6px;
}

.subtasks-div {
  background-color: white;
  width: 430px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  cursor: pointer;
}

.subtasks-div:focus-within {
  border: 1px solid #29abe2;
  outline: 0;
}

#subtasksInput {
  height: 24px;
  border: 0;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
}

#subtasksInput:focus {
  outline: 0;
}

#subtasksInputIcons {
  display: flex;
  gap: 2px;
}

.subtasks-icon {
  border-radius: 100%;
  padding: 5px;
}

.subtasks-icon:hover {
  background-color: #ebebeb;
}

.subtasks-seperator {
  height: 24px;
  width: 0.5px;
  background-color: #d1d1d1;
}

#subtasksList {
  height: 102px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subtasks-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f4f4f4;
  height: 100px;
}

.subtasks-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
  min-height: 10px; /* Ändere diesen Wert, um die minimale Höhe des Scroll-Thumbs anzupassen */
}

.subtasks-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-bottom-right-radius: 10px;
}

.subtasks-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 24px;
}

.subtasks-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 12px;
}

.edit-subtask-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-subtask-icons img:hover {
  transform: scale(105%);
}

.subtask-div {
  width: 408px;
  height: 24px;
  padding: 2px 8px 2px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtask-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: 8px; /* Abstand zwischen Text und Icons */
}

.subtask-div:hover {
  background-color: rgba(224, 224, 224, 0.658);
  border-radius: 10px;
}

.edit-subtask-div {
  width: 416px;
  height: 22px;
  border-bottom: 1px solid #29abe2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 16px 1px 0px;
}

.on-edit-subtask-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.on-edit-subtask-icons img:hover {
  transform: scale(105%);
}

.edit-subtask-input {
  width: 354px;
  height: 16px;
  border: 0;
  outline: 0;
}

.margin-top-16px {
  margin-top: 16px;
}

.prio-buttons {
  display: flex;
  justify-content: space-between;
}

.prio-buttons button {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.prio-buttons button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.category-div {
  background-color: white;
  width: 416px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
  z-index: 1;
  font-size: 18px;
}

#categoryDropdown {
  width: 440px;
  height: 96px;
  background-color: white;
  position: absolute;
  top: 503px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  font-size: 20px;
}

.dropdown-icon {
  border-radius: 100%;
}

.dropdown-icon:hover {
  background-color: #ebebeb;
}

.category-option {
  height: 24px;
  width: 416px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.category-option:hover {
  background-color: rgba(224, 224, 224, 0.658);
}

.clear-and-task-button {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: end;
}

.clear-button {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #2a3647;
  font-size: 21px;
}

.create-task-button {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 21px;
}

.clear-button:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.clear-button svg {
  fill: #2a3647;
}

.clear-button:hover svg {
  fill: #29abe2;
}

.create-task-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.change-color:hover {
  stroke: #29abe2;
}

.required-text {
  margin-top: 54px;
}

.asterisk {
  color: #ff8190;
}

/* Toast */

/* Hinzufügen einer Keyframes-Animation */
@keyframes slideUp {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Style für das Toast-Div */
#toastDiv {
  height: 68px;
  width: 280px;
  background-color: #2a3647;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  gap: 16px;
  opacity: 0; /* Standardmäßig unsichtbar */
  transition: opacity 0.5s; /* Smooth transition for opacity */
}

/* Wenn das Div sichtbar ist, spielt die Animation */
#toastDiv.show {
  animation: slideUp 0.5s forwards; /* Die Animation dauert 0.5s */
  opacity: 1; /* Sichtbar */
}

/* Modal CSS */
.task-modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.task-modal-content {
  background-color: #fefefe;
  margin: 18% auto;
  padding: 20px;
  border: 1px solid #d1d1d1;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.task-close {
  color: #d1d1d1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#confirmDuplicateTask {
  background-color: #2a3647;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: 0;
}

#cancelDuplicateTask {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #2a3647;
  padding: 7px;
}

#confirmDuplicateTask:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#cancelDuplicateTask:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.task-close {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  padding: 2px;
  cursor: pointer;
}

.task-close:hover {
  background-color: #ebebeb;
}

.red-required-text {
  color: #ff8190;
  font-size: 10px;
  /* position: absolute;
  top: 540px;
  left: 862px; */
  height: 12px;
  width: 440px;
  margin-top: -4px;
}

label {
  font-size: 18px;
}

.no-contacts-text {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-contact-div {
  height: 50px;
  width: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  gap: 15px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: -4px;
}

.add-contact-img {
  height: 24px;
}





/* responsive */


@media (max-width: 1330px) {
  .add-task-form {
    width: 942px;
  }
}

@media (max-width: 1270px) {
  .add-task-form {
    width: 918px;
  }
}

@media (max-width: 1240px) {
  .add-task-form {
   flex-direction: column;
   width: 100%;
   align-items: center;
  }

  .main-container {
    margin-left: 232px;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .add-task-left {
    width: 442px;
  }


  #categoryDropdown {
    top: 893px;
  }


  .clear-button {
    display: none;
  }

  #isRequiredTextMobile {
    display: flex!important;
    align-items: center;
    height: 56px;
  }

  .clear-and-task-button {
    justify-content: space-between;
  }

  h2 {
    width: 442px;
  }

  

  #isRequiredText {
    display: none;
  }

  #assignedContacts {
    height: fit-content;
    min-height: 16px;
    max-height: 120px;
    padding-top: 4px;
    padding-bottom: 16px;
  }

  .seperator {
    display: none;
  }
}


@media (max-width: 840px) {
  .main-container {
    margin-bottom: 180px;
    margin-left: 0;
  }

  .clear-and-task-button {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 78px;
    z-index: 25;
    padding-bottom: 24px;
    padding-top: 24px;
    margin-bottom: 0px;
    width: 442px;
    background-color: #f6f7f9;
  }

  #subtaskList {
    padding-bottom: 12px;
  }

  #toastDiv {
    left: 32%;
  }
}

@media (max-width: 560px) {
  .task-modal-content {
    margin-left: 16px;
    margin-right: 16px;
  }

}

@media (max-width: 465px) {
  #toastDiv {
    left: 20%;
  }

  .title-input,
  .date-input {
    width: 326px;
  }

  .add-task-left,
  .add-task-right,
  .clear-and-task-button,
  h2 {
    width: 352px;
  }

  #assignedContacts,
  .red-required-text {
    width: 350px;
  }

  .description-text {
    width: 326px;
  }

  .assigned-to-div {
    width: 338px;
  }

  .category-div {
    width: 326px;
  }
  
  #categoryDropdown,
  .assigned-dropdown {
    width: 350px;
  }

  #categoryDropdown {
    padding-top: 9px;
  }

  .subtasks-div {
    width: 340px;
  }

  .assigned-to-contact {
    width: 306px;
  }

  .prio-buttons button {
    width: 108px;
    height: 41px;
    font-size: 16px;
  }

  .category-option {
    width: 326px;
  }

}

@media (max-width: 380px) {
  #toastDiv {
    left: 10%;
  }

  .title-input,
.date-input {
  width: 266px;
}

.add-task-left,
.add-task-right,
.clear-and-task-button,
h2 {
  width: 292px;
}

#assignedContacts,
.red-required-text {
  width: 290px;
}

.description-text {
  width: 266px;
}

.assigned-to-div {
  width: 278px;
}

.category-div {
  width: 266px;
}

#categoryDropdown,
.assigned-dropdown {
  width: 290px;
}

.subtasks-div {
  width: 280px;
}

.assigned-to-contact {
  width: 246px;
}

.prio-buttons button {
  width: 90px;
  font-size: 14px;
}

.category-option {
  width: 266px;
}

}