.main-container {
  margin-left: 328px;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-size: 42px;
}

.add-task-form {
  width: 976px;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.seperator {
  height: 424px;
  width: 0.5px;
  background-color: #d1d1d1;
}

.add-task-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add-task-right {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

button {
  cursor: pointer;
}

.title-input,
.date-input {
  width: 416px;
  height: 24px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.title-input:focus,
.date-input:focus {
  border: 1px solid #29abe2;
  outline: 0;
}

.description-text {
  width: 416px;
  height: 96px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  padding: 12px;
}

.description-text:focus {
  border: 1px solid #29abe2;
  outline: 0;
}

.assigned-to-div {
  width: 428px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 12px;
  z-index: 1;
}

.assigned-to-div:focus-within {
  border: 1px solid #29abe2;
  outline: 0;
}

.assigned-input {
  width: 380px;
  height: 32px;
  border: 0;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.assigned-input:focus {
  outline: 0;
}

.assigned-dropdown {
  width: 440px;
  max-height: 168px;
  background-color: white;
  position: absolute;
  top: 594px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 14px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  /* scrollbar-width: thin;
  scrollbar-color: #d6d6d6 #f4f4f4;  */
}

.assigned-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f4f4f4;
  height: 100px;
}

.assigned-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

.assigned-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-bottom-right-radius: 10px;
}

.assigned-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 48px;
}

.assigned-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 32px;
}

.assigned-to-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 406px;
  padding: 2px 12px 2px 12px;
  border-radius: 10px;
}

/* .assigned-to-contact:hover {
  background-color: rgba(224, 224, 224, 0.658);
} */

.contact-img-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

#assignedContacts {
  width: 440px;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.two-letters-img {
  height: 42px;
  width: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assigned-contacts-img {
  height: 42px;
  width: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
}

.marked {
  background-color: #2a3647; /* Dunkle Hintergrundfarbe */
  color: white;
}

.check-btn-img {
  margin-right: 6px;
}

.subtasks-div {
  background-color: white;
  width: 428px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  cursor: pointer;
}

.subtasks-div:focus-within {
  border: 1px solid #29abe2;
  outline: 0;
}

#subtasksInput {
  height: 24px;
  border: 0;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

#subtasksInput:focus {
  outline: 0;
}

#subtasksInputIcons {
  display: flex;
  gap: 2px;
}

.subtasks-icon {
  border-radius: 100%;
  padding: 5px;
}

.subtasks-icon:hover {
  background-color: #ebebeb;
}

.subtasks-seperator {
  height: 24px;
  width: 0.5px;
  background-color: #d1d1d1;
}

#subtasksList {
  height: 80px;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-subtask-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.subtask-div {
  width: 408px;
  height: 24px;
  padding: 2px 16px 2px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtask-div:hover {
  background-color: rgba(224, 224, 224, 0.658);
}

.edit-subtask-div {
  /* width: 427px; */
  height: 24px;
  border-bottom: 1px solid #29abe2;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 21px;
}

.on-edit-subtask-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-subtask-input {
  width: 320px;
  height: 20px;
  border: 0;
  outline: 0;
}

.margin-top-16px {
  margin-top: 16px;
}

.prio-buttons {
  display: flex;
  justify-content: space-between;
}

.prio-buttons button {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio-buttons button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.category-div {
  background-color: white;
  width: 416px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
  z-index: 1;
}

#categoryDropdown {
  width: 440px;
  height: 96px;
  background-color: white;
  position: absolute;
  top: 528px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}

.dropdown-icon {
  border-radius: 100%;
}

.dropdown-icon:hover {
  background-color: #ebebeb;
}

.category-option {
  height: 24px;
  width: 416px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.category-option:hover {
  background-color: rgba(224, 224, 224, 0.658);
}

.clear-and-task-button {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: end;
}

.clear-button {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #2a3647;
}

.create-task-button {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.clear-button:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.clear-button svg {
  fill: #2a3647;
}

.clear-button:hover svg {
  fill: #29abe2;
}

.create-task-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.change-color:hover {
  stroke: #29abe2;
}

.required-text {
  margin-top: 54px;
}

.asterisk {
  color: #ff8190;
}
