.main-container {
  margin-left: 328px;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-size: 42px;
}

.add-task-form {
  width: 976px;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.seperator {
  height: 424px;
  width: 0.5px;
  background-color: #d1d1d1;
}

.add-task-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add-task-right {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  width: 424px;
  height: 32px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

input:focus {
  outline: 1px solid #29abe2;
}

button {
  cursor: pointer;
}

.description-text {
  width: 424px;
  height: 104px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  padding: 8px;
}

.description-text:focus {
  outline: 1px solid #29abe2;
}

.assigned-to-div {
  width: 428px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 12px;
}

.asign-input {
  width: 380px;
  height: 20px;
  border: 0;
}

.subtasks-div {
  background-color: white;
  width: 428px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}

.subtasks-div input {
  width: 360px;
  height: 20px;
  border: 0;
}

#subtasksInputIcons {
  display: flex;
  gap: 6px;
}

.subtasks-seperator {
  height: 24px;
  width: 0.5px;
  background-color: #d1d1d1;
}

#subtasksList li {
  margin-bottom: 8px;
}

.margin-top-16px {
  margin-top: 16px;
}

.prio-buttons {
  display: flex;
  justify-content: space-between;
}

.prio-buttons button {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio-buttons button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.category-div select {
  width: 440px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  padding: 8px;
}

.category-div select:focus {
  outline: 1px solid #29abe2;
}

.clear-and-task-button {
  display: flex;
  gap: 16px;
  justify-content: end;
  margin-top: 16px;
  margin-bottom: 16px;
}

.clear-button {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #2a3647;
}

.create-task-button {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.clear-button:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.create-task-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
