.board-container {
   height: 100vh;
   width: 100%;
}

.board-search-add-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 150px;
}

.distances {
   padding-right: 100px;
   padding-left: 300px;
}

.board-headline {
   font-size: 61px;
}

.search-add-wrapper {
   display: flex;
   align-items: center;
   gap: 32px;
}

.search-task {
   border-radius: 10px;
   padding: 13px 21px;
   height: fit-content;
   border: 1px solid #d1d1d1;
   background: url(../img/search_icon.png);
   background-color: white;
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: center;
   color: #d1d1d1;
   font-size: 20px;
   cursor: pointer;
   opacity: 1;
}

.search-task::placeholder {
   border-right: 1px solid #d1d1d1;
}

.search-task:focus::placeholder {
   opacity: 0;
   border-right: none;
}

.search-task:focus {
   color: black;
   background: none;
   outline: none;
   border: 1px solid #29abe2;
}

.add-task-btn {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 13px 21px;
   border-radius: 10px;
   background-color: #2a3647;
   color: white;
   cursor: pointer;
   transition: all 100ms ease-in-out;
   &:hover {
      background-color: #29abe2;
   }
}

/* nav */

.board-wrapper {
   display: flex;
   justify-content: space-between;
   gap: 32px;
}

.board-column {
   width: 244px;
}

.board-column-headline {
   font-size: 20px;
   font-weight: bold;
   color: #42526e;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.task-card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 24px;
   gap: 16px;
}

.task-card {
   width: 252px;
   height: 263px;
   border-radius: 24px;
   background-color: white;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}
