.board-container {
  height: 100vh;
  width: 100%;
}

.board-search-add-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 96px;
}

.distances {
  padding-right: 100px;
  margin-left: 300px;
}

.board-headline {
  font-size: 48px;
}

.search-add-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.search-task {
  border-radius: 10px;
  padding: 13px 21px;
  height: fit-content;
  border: 1px solid #d1d1d1;
  background: url(../img/search_icon.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #d1d1d1;
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  transition: background-image 100ms ease-in-out;
  &:hover {
    color: #29abe2;
    border: 1px solid #29abe2;
    background-image: url(../img/search_icon_blue.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
  }
}

.search-task::placeholder {
  border-right: 1px solid #d1d1d1;
}

.search-task:focus::placeholder {
  opacity: 0;
  border-right: none;
}

.search-task:focus {
  color: black;
  background: none;
  outline: none;
  border: 1px solid #29abe2;
}

.search-task-mobile {
  display: none;
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px 21px;
  border-radius: 10px;
  background-color: #2a3647;
  color: white;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  &:hover {
    background-color: #29abe2;
  }
}

/* nav */

.board-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.board-column {
  width: 20%;
}

.board-column-headline {
  font-size: 20px;
  font-weight: bold;
  color: #42526e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-a-card-btn {
  background-image: url(../img/add_btn_board.png);
  width: 24px;
  height: 24px;
  transition: all 100ms ease-in-out;
  &:hover {
    background-image: url(../img/add_btn_board_blue.png);
    cursor: pointer;
  }
}

.task-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
  min-height: 100%;
  padding-bottom: 3vh;
}

.task-card {
  padding: 24px;
  width: 90%;
  /* height: 239px; */
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: rgb(247, 247, 247);
  }
}

.task-category {
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 4px 16px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.category-user-story {
  background-color: rgba(0, 56, 255, 1);
}

.category-technical-task {
  background-color: rgba(31, 215, 193, 1);
}

.task-headline {
  font-weight: bold;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.task-comment {
  color: rgba(168, 168, 168, 1);
  margin-bottom: 24px;
  word-wrap: break-word;
}

.subtask-counter-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 24px;
}

.subtask-progressbar {
  height: 8px;
  width: 100px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(244, 244, 244, 1);
}

.subtask-bar-half {
  background-color: rgba(69, 137, 255, 1);
  width: 50%;
  height: 8px;
  border-radius: 16px;
}

.subtask-bar-level-1 {
  width: 33%;
}

.subtask-bar-level-2 {
  width: 50%;
}

.subtask-bar-level-3 {
  width: 100%;
}

.subtask-bar-full {
  background-color: rgba(69, 137, 255, 1);
  width: 100%;
  height: 8px;
  border-radius: 16px;
}

.subtask-counter {
  font-size: 12px;
}

.member-priority-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-member {
  display: flex;
  gap: -10px;
  flex-wrap: wrap;
}

.task-member-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: orange;
  border-radius: 50%;
  font-size: 12px;
  height: 32px;
  width: 32px;
  margin-left: -6px;
  border: 1px solid white;
}

.task-member-icon:nth-child(1) {
  margin-left: -6px;
}

.member-icon-1 {
  background-color: green;
}

.member-icon-2 {
  background-color: orange;
}

.member-icon-3 {
  background-color: blue;
}

.task-card-nothing-to-do {
  text-align: center;
  background-color: rgba(231, 231, 231, 1);
  border: 1px dashed rgba(168, 168, 168, 1);
  color: rgba(168, 168, 168, 1);
  transition: all 100ms ease-in-out;
  padding: 12px 24px;
  user-select: none;
  &:hover {
    background-color: rgba(231, 231, 231, 0.747);
    transform: unset;
    cursor: unset;
  }
}

/* Add task POPUP */

.add-task-popup-board-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 101;
}

.add-task-popup-board {
  width: 75%;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  z-index: 102;
  padding: 2%;
  overflow: scroll;
  h2 {
    width: 90%;
    margin-top: 16px;
  }
}

.add-task-form {
  width: unset;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.category-div {
  padding: 12px;
}

.close-popup-btn {
  position: absolute;
  z-index: 10;
  top: 3%;
  right: 3%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  &:hover {
    transform: rotate(10deg);
  }
}

@media (max-width: 1240px) {
  .add-task-form {
    width: 100%;
    flex-direction: column;
    overflow: scroll;
  }

  .title-input,
  .date-input {
    width: 90%;
  }

  .assigned-to-div {
    width: 100%;
  }
}

/* Existing Task Pop Up */

.existing-task-popup-board-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 101;
}

.existing-task-popup-board {
  height: 80%;
  width: 40%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  z-index: 2;
  padding: 24px 3%;
  font-size: 20px;
  gap: 16px;
  word-wrap: break-word;
}

.existing-task-popup-headline {
  font-weight: bold;
  font-size: 40px;
  word-wrap: break-word; /* Zeilenumbruch bei langen Wörtern */
  word-break: break-word; /* Zeilenumbruch bei langen Wörtern */
}

.existing-task-popup-description {
}

.existing-task-popup-date {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.existing-task-popup-priority {
  margin-bottom: 8px;
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.existing-task-popup-user-wrapper {
  margin-bottom: 8px;
  overflow: scroll;
  overflow-x: hidden;
  height: 25%;
}

.existing-task-popup-user-wrapper::-webkit-scrollbar {
  width: 4px;
}

.existing-task-popup-user-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.505);
  border-radius: 4px;
}

.popup-user {
  padding-top: 8px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.existing-task-popup-subtasks {
  margin-top: 8px;
  overflow: scroll;
  overflow-x: hidden;
  height: 15%;
}

.existing-task-popup-subtasks::-webkit-scrollbar {
  width: 4px;
}

.existing-task-popup-subtasks::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.505);
  border-radius: 4px;
}

.popup-subtask-headline {
  margin-bottom: 8px;
}

.popup-subtask-task {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  gap: 8px;
}

.task-done-state {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/check_btn.png);
}

.task-done-state-checked {
  background-image: url(../img/checked_btn.png);
}

.popup-subtask-task:hover {
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.459);
}

.popup-delete-edit-btn-wrapper {
  font-size: 16px;
  position: absolute;
  bottom: 3%;
  right: 5%;
  display: flex;
  gap: 8px;
}

.popup-delete-btn {
  border-right: 2px solid rgba(209, 209, 209, 1);
  padding-right: 8px;
}

.popup-btn {
  display: flex;
  gap: 4px;
  align-items: center;
}

.popup-btn:hover {
  cursor: pointer;
  color: #29abe2;
  .popup-delete-icon {
    background-image: url(../img/delete_trashcan_blue_icon.png);
  }
  .popup-edit-icon {
    background-image: url(../img/edit_pen_blue_icon.png);
  }
}

.popup-delete-icon {
  width: 24px;
  height: 24px;
  background-image: url(../img/delete_trashcan_icon.png);
}

.popup-edit-icon {
  width: 24px;
  height: 24px;
  background-image: url(../img/edit_pen_icon.png);
}

/* PopUp Edit task */

#subtasksList {
  height: unset;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 5%;
  height: 20%;
}
.edit-pop-up-subtask-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.edit-pop-up-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.edit-subtask-div {
  width: 98%;
  height: auto;
  padding-right: 0;
}
.subtask-edit-btn {
  cursor: pointer;
  border-right: 1px solid #d1d1d1;
  padding-right: 8px;
}

.subtask-delete-btn {
  cursor: pointer;
}

.on-edit-subtask-icons {
  gap: 8px;
}

/* body::-webkit-scrollbar-thumb {
   border-radius: 20px !important;
} */

.edit-task-form {
  width: 100%;
  height: 80%;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 2%;
}

.edit-task-form::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
  background-color: white;
}

.edit-task-form::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
}

.edit-task-form input {
  font-size: 18px;
  width: 90%;
}

.date-input {
  font-family: 'Inter', sans-serif;
}

.prio-buttons {
  width: 95%;
}

.prio-buttons button {
  font-size: 18px;
  width: 30%;
}

.description-text {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  width: 90%;
}

.assigned-to-div {
  width: 93%;
}

.category-div {
  width: 90%;
}

.subtasks-div {
  width: 93%;
}

#assignedContacts {
  height: auto;
  width: 90% !important;
}

.assigned-dropdown {
  width: 95%;
  height: 168px;
  background-color: white;
  position: relative;
  top: unset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 14px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}

.assigned-to-contact {
  width: unset;
}

.ok-btn-edit-task-wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
}

.ok-btn-edit-task {
  background-color: #2a3647;
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 1.5% 4%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border: none;
  transition: all 150ms ease-in-out;
}

.ok-btn-edit-task:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.state-change-btn {
  display: none;
}

/* .date-input {
  display: inline !important;
} */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */

@media (max-width: 1520px) {
  .board-column {
  }
}

@media (max-width: 1300px) {
  .board-column {
  }
  .board-column-headline {
    font-size: 16px;
  }
}

@media (max-width: 1130px) {
  .board-column {
    width: 250px;
  }
  .board-column:nth-child(1),
  .board-column:nth-child(2) {
    border-bottom: 1px solid black;
    padding-bottom: 5%;
  }
  .board-wrapper {
    justify-content: space-around;
    margin-right: 5%;
  }
  .board-column-headline {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .distances {
    padding-right: 0px;
  }
  .search-add-wrapper {
    gap: 16px;
    justify-content: center;
  }
  .search-task {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .board-column {
    width: 300px;
  }
}

@media (max-width: 880px) {
  .task-card {
    width: 100%;
  }

  .board-column:nth-child(1),
  .board-column:nth-child(2) {
    border: none;
    padding-bottom: 0;
  }

  .board-column {
    padding-right: 0;
  }
}

/* Real responsive design */

@media (max-width: 840px) {
  .board-column {
    width: 100%;
    overflow: scroll;
    padding: 0 !important;
  }

  .board-wrapper {
    margin-right: 0;
  }

  /* Für Webkit-basierte Browser (wie Chrome und Safari) */
  .board-column::-webkit-scrollbar {
    height: 4px;
    border-radius: 50%;
  }

  /* Für die Scroll-Leiste */
  .board-column::-webkit-scrollbar-thumb {
    background: rgba(211, 211, 211, 0.715);
    border-radius: 20px;
  }

  .board-column:last-child {
    margin-bottom: 15vh;
  }

  .board-column-headline {
    padding-left: 16px;
    font-size: 18px;
    width: fit-content;
    gap: 16px;
  }

  .task-card-container {
    flex-direction: row;
    min-height: unset;
    align-items: start;
  }

  .task-card {
    max-width: 30vw;
  }

  .distances {
    padding-left: 2%;
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .distances {
    padding-right: 0;
  }
  .board-wrapper {
    gap: 12px;
  }
}

@media (max-width: 600px) {
  .distances {
    margin-left: unset;
    margin-right: unset;
    padding-left: 5%;
    padding-right: 0;
  }

  .add-task-btn {
    margin-right: 100%;
  }
  .add-task-btn span {
    display: none;
  }
  .search-task-desktop {
    display: none;
  }

  .search-task-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2vh;
  }

  .search-task-mobile input {
    display: flex;
    width: 90%;
    justify-content: center;
  }

  .task-card {
    min-width: 35vw;
    max-width: 35vw;
  }

  .prio-buttons {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 8px;
  }

  .prio-buttons button {
    font-size: 18px;
    width: 80%;
  }
}

@media (max-width: 470px) {
  .task-card {
    min-width: 50vw;
    max-width: 50vw;
  }
}

.change-state-icon {
  display: none;
  height: 2rem;
  position: absolute;
  top: 5%;
  right: 5%;
}

@media (max-width: 1024px) {
  .change-state-icon {
    display: flex;
  }

  .state-dropdown {
    display: flex;
    width: 200px;
    position: absolute;
    right: 8%;
    top: 20%;
    background-color: #2a3647;
    border-radius: 20px;
    border-top-right-radius: 0px;
    color: white;
    padding: 4% 1%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .state-dropdown-element {
    font-size: 18px;
    border-radius: 20px;
    padding: 1% 4%;
  }
  .state-dropdown-element:hover {
    background-color: #42526e;
  }
}

/* Media Queries Edit Task */

@media (max-width: 1240px) {
  .edit-task-form {
    font-size: 18px;
    width: 40vw;
    align-items: start;
  }

  .add-task-left {
    width: 90%;
  }

  .add-task-right {
    width: 90%;
  }

  .edit-task-form input {
    font-size: 18px;
  }
}

@media (max-width: 840px) {
  .existing-task-popup-board {
    height: 80%;
    width: 80%;
  }

  .edit-task-form input {
    font-size: 18px;
    width: 90%;
    text-align: start;
  }

  /* .date-input {
    width: fit-content !important;
  } */

  .edit-task-form {
    font-size: 18px;
    width: 100%;
    align-items: start;
  }
}

/* Quick&Dirty change state */

/* Edit Popup */

.states-list {
  display: none;
}

#subtasksList::-webkit-scrollbar {
  width: 4px;
  border-radius: 50%;
}

.assigned-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 50%;
}

/* Für die Scroll-Leiste */
#subtasksList::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.715);
  border-radius: 20px;
}

.assigned-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 20px;
}

.title-input,
.date-input {
  display: unset !important;
}

@media (max-width: 1024px) {
  .edit-task-form {
    margin: 0;
    height: 90%;
  }

  .existing-task-popup-board {
    justify-content: flex-start;
  }

  #assignedContacts {
    min-height: unset;
    padding: 0;
  }
  .states-list {
    display: flex;
    margin-bottom: 12px;
    margin-top: 4px;
    gap: 8px;
    color: white;
  }
  .state-list-item {
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid #d1d1d1;
    &:hover {
      cursor: pointer;
      background-color: #42526e;
      color: white;
    }
  }
  .state-list-item-active {
    background-color: #42526e;
    color: white;
  }

  .close-popup-btn-state-list {
    width: unset;
    height: unset;
  }
  .existing-task-popup-board {
    width: 60%;
  }
  .edit-task-form {
    font-size: 18px;
    width: 100%;
    align-items: start;
  }
}

@media (max-width: 800px) {
  .existing-task-popup-board {
    width: 70%;
  }
}

@media (max-width: 670px) {
  .existing-task-popup-board {
    width: 90%;
  }
}

@media (max-width: 670px) {
  .existing-task-popup-board {
    width: 80%;
  }
}
