.content {
    margin-left: 232px;
    margin-top: 96px;
    display: flex;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperationLine {
    height: 20px;
    width: 1px;
    border: 1px solid #28ABE2;
    background-color: #28ABE2;
    border-radius: 25px;
    margin: 10px;
}

.contactList {
    width: 465px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    color: black;
    border-radius: 15px;
}

#avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactCard{
    display: flex;
}


.contactDetails {
    display: flex;
    border-radius: 8px;
    width: 350px;
    padding: 12px;
}

.contactDetails:hover {
    background-color: #eeeeee;
}

.img-contacts {
    display: flex;
    padding-right: 32px;
}

.contacts-content-list {
    display: flex;
    flex-direction: column;
}
