.content {
    margin-left: 232px;
    margin-top: 96px;
    display: flex;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.seperationLine {
    height: 64px;
    width: 1px;
    border: 1px solid #28ABE2;
    background-color: #28ABE2;
    border-radius: 25px;
    margin: 10px;
}

.contactList {
    width: 465px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    overflow: scroll;
}

.contact {
    color: black;
    border-radius: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(228, 152, 9);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-big {
    width: 120px;
    height: 120px;
    border: 3px solid white;
}

.contactCard {
    display: flex;
}

.contactDetails {
    display: flex;
    border-radius: 8px;
    width: 350px;
    padding: 12px;
}

.contactDetails:hover {
    background-color: #eeeeee;
}

.img-contacts {
    display: flex;
    padding-right: 32px;
}

.contacts-content-list {
    display: flex;
    flex-direction: column;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.addContactBtn {
    height: 50px;
    width: 352px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    gap: 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 21px;
    margin: 20px 0;
}

.edit-icon {
    background-image: url(../img/edit_pen_icon.png);
    width: 24px;
    height: 24px;
}

.trash-icon {
    background-image: url(../img/delete_trashcan_icon.png);
    width: 24px;
    height: 24px;
}

.edit-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-delete-container {
    display: flex;
    gap: 8px;
}

.contact-card-name-container {
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-card-info-container {}

.headline-contact-information {}