h1 {
    font-size: 48px;
    color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 348px;
    padding-top: 70px;
    width: 100%;
}

h2 {
    font-size: 32px;
    color: black;
    padding-left: 348px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.text-box {
    padding-left: 348px;
    padding-right: 150px;
    display: flex;
    justify-content: flex-start;

}