p{
    margin: 0;
}

.content{
    margin-left: 232px;
    display: flex;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: center;
}

.interactionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seperationLine{
    height: 20px;
    width: 1px;
    border: 1px solid #28ABE2;
    background-color: #28ABE2;
    border-radius: 25px;
    margin: 10px;
}

.container{
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    text-wrap: wrap;
}

.containerLong{
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin: 10px;
    text-wrap: wrap;
}

.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.greetingH2{
    margin:0;
}

.user{
    color: #28ABE2;;
}

.row1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2{
    display: flex;
}

.row3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskNumber{
    font-size: 45px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
}


