p{
    margin: 0;
}

.content{
    margin-left: 232px;
    display: flex;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 300px;
}

.interactionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 560px;
    width: 562px;
    margin-left: 58px;
}

.seperationLine{
    height: 20px;
    width: 1px;
    border: 1px solid #28ABE2;
    background-color: #28ABE2;
    border-radius: 25px;
    margin: 10px;
}

.seperationLineLong{
    height: 100px;
    width: 1px;
    border: 1px solid #bdbdbd;
    background-color: #bdbdbd;
    border-radius: 25px;
    margin: 50px;
}

.container{
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-wrap: wrap;
    width: 264px;
    height: 168px;
}

.container:hover{
    background-color: #2A3647;
    color: white;
    transform: scale(1.1);
    .taskNumber{
        color:white;
    }
}

.Task{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.taskStatus{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.containerLong{
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-wrap: wrap;
    width: 560px;
    height: 168px;
}

.containerLong:hover{
    background-color: #2A3647;
    color: white;
    transform: scale(1.1);
    .taskNumber{
        color:white;
    }
}

.containerSmall{
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-wrap: wrap;
    width: 168px;
    height: 168px;
}

.containerSmall:hover{
    background-color: #2A3647;
    color:white;
    transform: scale(1.1);
    .taskNumber{
        color:white;
    }
}

.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

.greetingH2{
    margin:0;
    font-size: 45px;
}

.user{
    color: #28ABE2;
    font-size: 50px;
}

.row1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2{
    display: flex;
}

.row3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskNumber{
    font-size: 45px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.procressImg{
    border: 2px solid white;
    border-radius: 50px;
}