<header>
   <span> Kanban Project Management Tool </span>
   <div class="header-img-div">
      <img class="logo-header-mobile" src="assets/img/join_logo_dark.png" alt="join logo">
      <a href="/help.html">
         <img class="header-info-img" src="./assets/img/questionmark.png" alt="question mark" /></a>
      <div class="header-user-icon" id="headerUserIcon">G</div>
   </div>
   <nav id="headerNav" class="d-none">
      <a href="./legalNotice.html" class="header-links">Legal Notice</a>
      <a href="./privatePolicy.html" class="header-links">Privacy Policy</a>
      <a href="./index.html" class="header-links">Log out</a>
   </nav>
</header>