<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <span>
            Kanban Project Management Tool
        </span>
        <div class="header-img-div">
            <img id="headerInfoHelp" src="../img/questionmark.normal.png" alt="">
            <div class="user-icon">G</div>

        </div>
    </header>

</body>

</html>