<div class="sitebar-container">
   <img src="./assets/img/join_logo.png" alt="Join logo" class="join-logo-sitebar" />

   <div class="all-links-wrapper">
      <div class="nav-wrapper">
         <a href="" class="nav-links"><img src="./assets/img/summary_icon.png" alt="" />Summary</a>
         <a href="" class="nav-links"><img src="./assets/img/add_task_icon.png" alt="" />Add task</a>
         <a href="" class="nav-links"><img src="./assets/img/board-icon.png" alt="" />Board</a>
         <a href="" class="nav-links"><img src="./assets/img/contact_icon.png" alt="" />Contacts</a>
      </div>

      <div class="legally-links-wrapper">
         <a class="legal-Links" href="">Privacy Policy</a>
         <a class="legal-Links" href="">Legal notice</a>
      </div>
   </div>
</div>
