<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Join</title>
      <link rel="stylesheet" href="../css/style.css" />
      <link rel="stylesheet" href="../css/sitebar.css" />
   </head>
   <body>
      <div class="sitebar-container">
         <img src="../img/join_logo.png" alt="Join logo" class="join-logo-sitebar" />

         <div class="all-links-wrapper">
            <div class="nav-wrapper">
               <a href="" class="nav-links"><img src="../img/summary_icon.png" alt="" />Summary</a>
               <a href="" class="nav-links"><img src="../img/add_task_icon.png" alt="" />Add task</a>
               <a href="" class="nav-links"><img src="../img/board-icon.png" alt="" />Board</a>
               <a href="" class="nav-links"><img src="../img/contact_icon.png" alt="" />Contacts</a>
            </div>

            <div class="legally-links-wrapper">
               <a class="legal-Links"href="">Privacy Policy</a>
               <a class="legal-Links"href="">Legal notice</a>
            </div>
         </div>
      </div>
   </body>
</html>
