<div class="sitebar-container">
   <img src="./assets/img/join_logo.png" alt="Join logo" class="join-logo-sitebar" />

   <div class="all-links-wrapper">
      <div class="nav-wrapper">
         <a href="./summary.html" class="nav-links"><img src="./assets/img/summary_icon.png" alt="" />Summary</a>
         <a href="./addTask.html" class="nav-links"><img src="./assets/img/add_task_icon.png" alt="" />Add Task</a>
         <a href="./board.html" class="nav-links"><img src="./assets/img/board-icon.png" alt="" />Board</a>
         <a href="./contacts.html" class="nav-links"><img src="./assets/img/contact_icon.png" alt="" />Contacts</a>
      </div>

      <div class="legally-links-wrapper">
         <a class="legal-Links" href="./privatePolicy.html">Privacy Policy</a>
         <a class="legal-Links" href="./legalNotice.html">Legal notice</a>
      </div>
   </div>
</div>